/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html,body {
	line-height: 1;
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Styles - A starting point */
body {font-family:helvetica, verdana, sans-serif;font-size:1.0em;color:#000;}
h1 {font-size:1.2em;}

a, a:link, a:visited, a:hover, a:active {font-size:1.0em;color:#000;text-decoration:underline;}

#container {width:100%;margin:0px auto;min-height:100%;position:relative;}
#containerInner {80% margin:0px auto;}
#header {width:100%;height:100px;margin:10px 0px;}
#menuBanner {margin-top:60px;}
#headerInner, #menuBannerInner, #middleInner {width:80%;margin:0px auto;}
#header #top {width:100%;height:50px;}
#login {float:right;}
#logo {float:left;margin-top:0px;width:300px;height:153px;font:bold 2.5em "Times New Roman", Times, Serif;background:url('/images/SCC-logo-with-tagline-300.jpg') #fff top left no-repeat;}
.line {border:solid 1px #eee;}
#menu {width:100%;margin:20px auto;}
#menu ul {margin:15px auto;}
#menu li {float:left;position:inline;color:#fff;margin-right:10px;}
#menu li a, #menu div a:visited {border:solid 1px #ccc;padding:0.5em 1.0em;color:#000;-moz-border-radius: 8px;border-radius: 8px;}
#menu li.selected {float:left;position:inline;}
#menu li.selected a, #menu div.selected a:visited {padding:0.5em 1.0em;border:solid 1px #ccc;background-color:#770800;color:#fff;-moz-border-radius: 8px;border-radius: 8px;}
#menu li a:hover, #menu div a:active {background-color:#770800;color:#fff;}

#middle {margin-top:80px;width:100%;padding-bottom:100px;}
#footer {background-color:#770800;color:#fff;position:absolute;bottom:0;width:100%;height:100px;}
#footer div {width:80%;margin:0px auto;margin-top:60px;}
#footer a, #footer a:link, #footer a:visited, #footer a:hover, #footer a:active{font-size:0.8em;color:#fff;}

/* header top - login/signup/logout links */
#home {float:left;padding-right:10px;}
#loginLink, #signupLink, #logoutLink {
	font-size:0.8em;
	color:#000;
	padding:2px 4px;
	background-color:#fff;	
}

#loginLink.selected, #signupLink.selected, #logoutLink.selected {
	font-size:0.8em;
	color:#fff;
	padding:2px 4px;
	background-color:#770800;
}

/* Default form Styles */
.form .textfield {
	border:solid 1px #000;
}
.form .textarea {
	width:200px;
	height:80px;
}

.form a, .form a:link, .form a:visited, .form a:hover, .form a:active {font-size:0.8em;color:#770800;text-decoration:underline;color:#770800;}

.form .submit {
	border:solid 1px #000;
	padding:4px 8px;
	-moz-border-radius: 5px;border-radius: 5px;
}
.form .input, .buttons {
	width:100%;
	height:30px;
}
.form .input.textarea {
	height:100px;
}
.form label {
	float:left;
}
.form input, textarea {
	float:right;
}
.form {
	padding:30px 50px;
}

/* forms */
#loginForm, #signupForm, #newMessage {
	width:450px;
	margin:0px auto;
	margin-top:100px;
	border:solid 1px #000;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

#newGroupForm {
	width:450px;
	margin:0px auto;
	margin-top:100px;
}

#newGroup {width:200px;height:30px;}
#newGroup .textfield {width:165px;float:left;}
#newGroup .submit {float:right;border:none;padding:0px;background-color:#770800;color:#fff;}
#groupList {width:400px;}
#groupList ul {}
#groupList .row {width:100%;height:30px;margin-bottom:10px;}
#groupList .row .content {float:left;}
#groupList .row .actions {float:right;}
 
#prefs .submit {border:solid 1px #000;
padding:4px 8px;
-moz-border-radius: 5px;border-radius: 5px;float:right;}

