/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Styles - A starting point */
body {font-family:helvetica, verdana, sans-serif;font-size:1.0em;color:#000;}

a {font-size:1.0em;color:#000;text-decoration:underline;}
a:link {font-size:1.0em;color:#000; text-decoration:underline;}
a:visited {font-size:1.0em;color:#000; text-decoration:underline;}
a:hover {font-size:1.0em;color:#000; text-decoration:underline;}
a:active {font-size:1.0em;color:#000; text-decoration:underline;}

a.selected {background-color:#ccc;}
a.selected:link {background-color:#ccc;}
a.selected:visited {background-color:#ccc;}
a.selected:hover {background-color:#ccc;}
a.selected:active {background-color:#ccc;}

.link {background-color:#fff;}
.link.selected{background-color:#ccc;}

#container {width:80%;margin:0px auto;}
#header {width:100%;height:70px;border-bottom:solid 1px #000;margin:10px 0px;}
#header #top {width:100%;height:30px;}
#login {float:right;}
#logo {float:left;}
#menu {width:100%;margin-top:0px;}
#menu div {float:left;border:solid 1px #ccc;margin-left:20px;padding:4px 8px;position:inline;}
#menuService {width:100%;margin-top:0px;height:30px;margin-bottom:30px;}
#menuService div {float:left;border:solid 1px #ccc;margin-left:20px;padding:4px 8px;position:inline;}
#middle {width:100%;min-height:500px;}
#footer {width:100%;height:30px;background-color:#eee;}

/* header top - login/signup/logout links */
#loginLink, #signupLink, #logoutLink {
	padding:2px 4px;
	border:solid 1px #fff;
	background-color:#fff;
}

#loginLink.selected, #signupLink.selected, #logoutLink.selected {
	padding:2px 4px;
	border:solid 1px #ccc;
	background-color:#ccc;}

/* Default form Styles */
.form .textfield {
	border:solid 1px #000;
}
.form .textarea {
	width:200px;
	height:80px;
}

.form .submit {
	border:solid 1px #000;
	padding:4px 8px;
}
.form .input, .buttons {
	width:100%;
	height:30px;
}
.form .input.textarea {
	height:100px;
}
.form label {
	float:left;
}
.form input, textarea {
	float:right;
}
.form {
	padding:30px 50px;
}

/* login & signup forms */
#signupForm {
	width:450px;
	margin:0px auto;
	margin-top:100px;
	border:solid 1px #000;
	-moz-border-radius: 5px;
	border-radius: 8px;
}

#loginForm {
	width:450px;
	margin:0px auto;
	margin-top:100px;
	border:solid 1px #000;
	-moz-border-radius: 5px;
	border-radius: 8px;
}

/* Send a message form */
#newMessage {
	width:450px;
	margin:0px auto;
	margin-top:100px;
	border:solid 1px #000;
	-moz-border-radius: 5px;
	border-radius: 8px;
}



