<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title>SCC</title>
		
		<!-- META -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="ShareCareClub - SICamp" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!-- default CSS file -->
		<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" />
		
		<!-- jQuery library hosted at google -->
	<!--	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" type="text/javascript"></script> -->
		
	</head>
	<body>

		<div id="container">
			
			<div id="header">
				<div id="headerInner">
					<div id="top">
						<div id="logo">Share Care Club</div>
			
						<div id="login">
							<div id="home"><a href="/" title="Homepage"><img src="images/house.png"/></a></div>
						{if $currentUser}
							Welcome <a href="#" title="Your Account">{$currentUser['username']}</a> ({$currentUser['id']})
							<a href="logout.php" id="logoutLink" title="Logout">Logout</a>
						{else}
							<a id="loginLink" href="login.php" {if $smarty.server.PHP_SELF == '/login.php'}class="selected" {/if}>Login</a> | <a href="signup.php" id="signupLink" {if $smarty.server.PHP_SELF == '/signup.php'}class="selected" {/if}>Join</a>
						{/if}
						</div>
					</div>
				</div>
			</div>
			
			<div id="menuBanner">
				<div id="menuBannerInner">
					<hr/ class="line">
					<div id="menu">
						<ul>
							{if $currentUser}
							<li {if $smarty.server.PHP_SELF == '/send.php'}class="selected"{/if}><a href="send">Send A Message</a></li>
							<li {if $smarty.server.PHP_SELF == '/helpers.php'}class="selected"{/if}><a href="helpers">Helpers</a></li>
							<li {if $smarty.server.PHP_SELF == '/helper_groups.php'}class="selected"{/if}><a href="helper_groups">Groups</a></li>
							<li {if $smarty.server.PHP_SELF == '/prefs.php'}class="selected"{/if}><a href="prefs">Preferences</a></li>											
							{else}
							<li {if $smarty.server.PHP_SELF == '/tour.php'}class="selected"{/if}><a href="/tour">Take A Tour</a></li>
							<li {if $smarty.server.PHP_SELF == '/sharers.php'}class="selected"{/if}><a href="/sharers">Sharers</a></li>
							<li {if $smarty.server.PHP_SELF == '/carers.php'}class="selected"{/if}><a href="/carers">Carers</a></li>
							<li {if $smarty.server.PHP_SELF == '/about.php'}class="selected"{/if}><a href="/about">About Us</a></li>
							<li {if $smarty.server.PHP_SELF == '/contact.php'}class="selected"{/if}><a href="/contact">Contact Us</a></li>
							{/if}
						</ul>
					</div>
				</div>
			</div>

		
				<div id="middle">
					<div id="middleInner">