

{include file="header.htm"}

	{if $currentUser}
	
		<div class="copy left">
			<h1>This could be a summary report for this user</h1>
			
			<p><strong>Their personal homepage/dashboard of sorts</strong></p>
			
			<p>or something like current updates on the carers that this user is helps out etc. etc.</p>
			
			<p>may be some of the latest news, or recent updates pulled from a news feed/blog/forum etc.</p>
			
			<p>Highlight any recent feedback, or thanks that this user has received, together with some quick stats relating to the number of jobs that they've completed etc..</p>
			
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus pharetra quam, vel facilisis ante dignissim vel. Sed vel nibh erat. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta.
			</p>
	
			<p>
				<a href="#">This is a link</a>
			</p>
		</div>		
	
	{else}

		<div class="copy left">
			<h1>Welcome!</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus pharetra quam, vel facilisis ante dignissim vel. Sed vel nibh erat. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta.
			</p>
		
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus pharetra quam, vel facilisis ante dignissim vel. Sed vel nibh erat. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta.
			</p>
		
			<p>
				<a href="#">This is a link</a>
			</p>
		</div>
	
		<div class="copy right">
					<img src="images/img-oldyoung_450.jpg"/>
		</div>
	
	{/if}


{include file="footer.htm"}

