

{include file="header.htm"}

	{if $currentUser}
	
		<div class="copy left">
			<h1>This could be a summary report for this user</h1>
			
			<p><strong>Their personal homepage/dashboard of sorts</strong></p>
			
			<p>or something like current updates on the carers that this user is helps out etc. etc.</p>
			
			<p>may be some of the latest news, or recent updates pulled from a news feed/blog/forum etc.</p>
			
			<p>Highlight any recent feedback, or thanks that this user has received, together with some quick stats relating to the number of jobs that they've completed etc..</p>
	
			<p>
				<a href="#">This is a link</a>
			</p>
		</div>		
	
	{else}

		<div class="copy left">
			

			<p>
				Welcome to Share Care Club - the service that empowers you and your circle of family and friends to take care of the little things.
			</p>

			<p>
				Share Care Club connects people in real time, lets you quickly and easily ask your circle to lend a hand and gives you an immediate response from those who can help.
			</p>

			<p>
				It harnesses the goodwill of the people around you to build a community of care and support.
			</p>

			<br/>
			
			<p>
				<strong>The little things make all the difference.</strong>			
			</p>
			
		</div>
	
		<div class="copy right">
					<img src="images/img-manMan-360.jpg"/>
		</div>
	
	{/if}

{include file="footer.htm"}