
{include file="header.htm"}

	<div id="loginForm">

		<form action="" method="post" class="form login">

			<div class="input">
				<label for="UserName">Username</label>
				<input type="text" value="" name="username" id="UserName" class="textfield">
			</div>

			<div class="input">
				<label for="PassWord">Password</label>
				<input type="password" value="" name="password" id="PassWord" class="textfield">
			</div>

			<div class="buttons">
				<a href="#">forgot your password?</a> <input type="submit" value="Login" class="submit">
			</div>

		</form>

</div>

{include file="footer.htm"}
