
{include file="header.htm"}

	<div id="newMessage">

		<form action="" method="post" class="form">

			<div class="input textarea">
				<label for="Group">Group</label>
				<select name='helper_group_id' id="Group">
							<option value=''>everyone</option> 
						{foreach from=$helper_groups item=group}
							<option value='{$group.id}'>{$group.title}</option> 
						{/foreach}
				</select>
			</div>

			<div class="input textarea">
				<label for="Email">Message</label>
				<textarea name="msg" class="textarea"></textarea>
			</div>

			<ul>
				{foreach $helperTypes as $ht}
					<li style="display: block;">
						<input style="float: none;" type="checkbox" name="helperTypes[]" value="{$ht['id']}" id="HelperType{$ht['id']}">
						<label style="float: none;" for="HelperType{$ht['id']}">{$ht['title']|escape}</label>
					</li>
				{/foreach}
			</ul>



			<div class="buttons">
				<input type="submit" value="Send" class="submit">
			</div>
				
		</form>

	</div>

{include file="footer.htm"}
