{include file="header.htm"}


<h1>Sharers</h1>

<div style="width:100%;height:400px;">
	<div class="copy left">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus pharetra quam, vel facilisis ante dignissim vel. Sed vel nibh erat. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer luctus pharetra quam, vel facilisis ante dignissim vel. Sed vel nibh erat. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta. Mauris et tortor diam. Mauris ultricies neque in mauris posuere porta.
		</p>

		<p>
			<a href="#">This is a link</a>
		</p>
	</div>

	<div class="copy right">
				<img src="images/img-oldyoung_450.jpg"/>
	</div>

</div>




{include file="footer.htm"}