
{include file="header.htm"}

<div id="signupForm">

	<form action="" method="post" class="form signup">

		<div class="input">
			<label for="Email">Email</label>
			<input type="email" value="" name="email" id="Email" class="textfield">
		</div>

		<div class="input">
			<label for="UserName">Username</label>
			<input type="text" value="" name="username" id="UserName" class="textfield">
		</div>

		<div class="input">
			<label for="PassWord">Password</label>
			<input type="password" value="" name="password" id="PassWord" class="textfield">
		</div>

		<div class="buttons">
			<input type="submit" value="Join" class="submit">
		</div>

	</form>

</div>


{include file="footer.htm"}

