
{include file="header.htm"}


<form action="" method="post">

	<div class="input">
		<label for="Email">Email</label>
		<input type="text" value="" name="email" id="Email">
	</div>

	<div class="input">
		<label for="UserName">Username</label>
		<input type="text" value="" name="username" id="UserName">
	</div>

	<div class="input">
		<label for="PassWord">Password</label>
		<input type="password" value="" name="password" id="PassWord">
	</div>

	<input type="submit">

</form>

{include file="footer.htm"}

