{include file="header.htm"}


<h1>Site Map</h1>

<ul>
	<li><a href="/">Home</a></li>
	<li><a href="tour.php">Take a Tour</a></li>
	<li><a href="sharers.php">Sharers</a></li>
	<li><a href="carers.php">Carers</a></li>
	<li><a href="about.php">About Us</a></li>
	<li><a href="contact.php">Contact Us</a></li>
</ul>

<br/>

<ul>
	<li><a href="sitemap.php">Site Map</a></li>
	<li><a href="accessibility.php">Accessibility</a></li>
	<li><a href="terms.php">Terms & Conditions</a></li>
	<li><a href="legal.php">Legal</a></li>
</ul>


{include file="footer.htm"}